body {
  padding: 20px 40px;
  margin: 0;
  font-family: "Open Sans", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

*{
  box-sizing: border-box;
}